{
    "tabWidth": 2,
    "trailingComma": "none",
    "printWidth": 160,
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always"
}