.table-item {
    margin: 5rem auto;
    font-family: initial;
}

.row-item,
.item {
    border: 1px solid lightgrey;
}

.item {
    padding: 0.5rem;
    text-align: center;
}

.input {
    border: none;
    text-align: center;
    padding: 0;
    width: 26%;
    color: black;
    background-color: white;;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    font-size: 2rem;    
}

.edit-icon,
.check-mark,
.cross-icon {
    width: 12px;
    height: 12px;
    vertical-align: super;
    cursor: pointer;
}

.reset {
    margin: 2rem 0;
    font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exchangeInput[type=number] {
  -moz-appearance: textfield;
}