.table-item {
    margin: 5rem auto;
    font-family: initial;
}

.row-item,
.item {
    border: 1px solid lightgrey;
}

.item {
    padding: 0.5rem;
    text-align: center;
}

.edit,
.cross {
    vertical-align: super;
    cursor: pointer;
}

.input_buy,
.input_sale {
    border: none;
    text-align: center;
    padding: 0;
    width: 35%;
    color: black;
    background-color: white;;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    font-size: 2rem;    
}

.reset {
    margin: 2rem 0;
    font-size: 1rem;
}

.exchangeInput::-webkit-outer-spin-button,
.exchangeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.exchangeInput[type=number] {
  -moz-appearance: textfield;
}